
@{
    ViewBag.Title = "Hem";
}

<h2 class="text-center">Välkommen till Týpoi!</h2>

<p class="text-center">Lös ut matematiska formler online!</p>

<img class="text-center" src="\Img\Hemsida.jpg" />

