
@{
    ViewBag.Title = "Sida 2";
}

@Html.ActionLink("Bakåt", "S1", "Týpoi", new { area = "" }, new { @class = "navbar-brand" })

<h2 class="text-center">Kommer Snart</h2>

<p class="text-center">(Det gör det inte)</p>